.mailWrapper{
    display: flex;
    align-items: flex-end;
}

.customAvatar {
    margin-right: 10px;
}

.commentItem {
    margin: 10px;
}

.commentItem h4{
    margin-left: 10px;
    color:#333;
}
.commentItem p{
    color: #333;
    font-size:16px;
}