.pageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer{
    margin-top: 25px !important;
}

.postLink {
    text-align: center;
  
}

.customLink:hover {
    color:darkgrey
}