
.postPageItem {
    padding-top:30px;
    text-align: center;
    max-width: 70%;
    width:100%;
    margin-left:20px;
}


.postPageWrapper p:first-child {
    margin-left: 10px;
}
.loadingButton {
    margin-left:20px !important;
    margin-bottom:25px !important
}

.customLoadingButton .disabled {
    color: red !important;
}
