
.postContainer h1{
    padding-top:15px;
    padding-left: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.postsContainer {
    display:flex;
     justify-content:space-around;
     flex-wrap: wrap;
     align-items: baseline;
}

.itemWrapper {
    max-width: 40%;
    width:100%;
    margin:20px;
}
.itemWrapper a {
    text-decoration: none;
}

.itemWrapper h4 {
    font-size:24px !important;
    color: #000033;
}

.buttonsWrapper {
    text-align: center;
}

.buttonsWrapper button {
    color: #062f5d !important;

}
