.titleWrapper {
 color:#333;
 font-size:24px !important;
}

.cardContainer{
    border: 0.5px solid #cecece;
    border-radius: 25px;
}

.bodyWrapper {
    font-size: 18px !important;;
    color: #333;
}